<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Ben Aston</title>
    <meta name="author" content="Ben Aston">
    <meta name="build" content="@@build">
    <style>@@css</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui">
</head>
<body>
<div id="main-container">
    <header id="header"></header>
    <main>
        <section id="intro">
            <div id="intro-content">
                <header id="intro-header">
                    <h1 id="poster-title">Learn JavaScript In A Long Weekend</h1>
                    <h1 id="website-title">JavaScript Fundamentals</h1>
                    <div id="sub-heading">Intensive 3-day course</div>
                    <p id="cost" class="print-only" id="cost">Only 1500 GBP per delegate</p>
                    <img id="paper-plane" src="/images/javascript-logo.png" title="JavaScript Logo"/>
                    <p class="print-only" id="print-cta">For full details visit www.learnjavascript.london or email ben@learnjavascript.london.</p>
                </header>
                <div id="intro-body">
                    <p><strong class="io">learnjavascript.london</strong> is running an intensive three-day JavaScript course from <strong>March 6th 2015</strong> entitled <strong>Intensive JavaScript Fundamentals</strong> in Shoreditch, London.
                    </p>

                    <h2 class="intro-subheading">Topics covered include...</h2>
                    <p>
                        <ul id="syllabus-summary">
                        <li>Object-oriented and functional development in JavaScript</li>
                        <li>Statements and expressions, closures, hoisting, scope, context</li>
                        <li>Call, apply, bind</li>
                        <li>Prototypical inheritance</li>
                        <li>The event loop</li>
                        <li>Patterns for modularisation, visibility control and code re-use</li>
                        <li>Testing</li>
                        <li>ES3, ES5 and ES6</li>
                        </ul>
                        <a id="syllabus-download-link" class="no-print" href="/syllabus">View the complete syllabus here.</a>
                    </p>

                    <h2 class="intro-subheading">Prerequisites</h2>
                    <p>Delegates should already be comfortable with programming in another language to get the most out of this course.</p>
                    


                    <p class="no-print">Further information about the instructor, venue and course availability is shown below.</p>
                    <div id="down-arrow"  class="no-print">&#xf103;</div>
                </div>

            </div>
        </section><section id="icis-live" class="no-print">
            <div id="icis-live-content">
                <header id="icis-live-header">
                    <h1>Meet your Instructor</h1>                    
                </header>
                <div id="icis-live-body" class="clear-both">
                <figure class="wizerati-figure-1a clear-both">
                        
                        <figcaption>Ben says: "I help students learn faster by breaking complex topics down into clear and understandable pieces. I aim to work with my students' preferred learning style and share my enthusiasm for JavaScript".</figcaption>
                    </figure>
                    <p>Ben Aston has been developing software professionaly for over ten years. During that time he has developed systems for the Army, governmental organisations and large dot-com companies. He is currently a JavaScript developer at HSBC Investment Bank in London.</p>
                    <p>Ben has extensive experience of developing JavaScript and deep understanding of the language. Combined with an easy communication style Ben makes a great instructor and guides students through the learning experience at their own pace.</p>
                </div>
            </div>
        </section><section id="wizerati" class="no-print">
            <div id="wizerati-content">
                <header id="wizerati-header">
                    <h1>Course Dates</h1>                    
                </header>
                <div id="wizerati-body" class="clear-both">
                    <p>The course will be run on the following dates:</p>                     
                    <table id="course-dates-table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>Course Title</th>
                            <th>Spaces Remaining</th>
                            <th>Cost <span class="small-addition">(per delegate)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Fri. 6th Mar. 2015 - Sun. 8th Mar. 2015</td>
                            <td>3 days (0900 - 1700)</td>
                            <td>Intensive JavaScript Fundamentals</td>
                            <td><code>5</code></td>
                            <td>1,500 GBP plus VAT</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><strong>If you would like to book a place or request further information, please email <a class="mail-link" href="mailto:ben@learnjavascript.london">ben@learnjavascript.london</a>.</strong></p>
                </div>
            </div>
        </section><section id="justtextgiving" class="no-print">
            <div id="justtextgiving-content">
                <header id="justtextgiving-header">
                    <h1>The Venue</h1>
                </header>
                <div id="justtextgiving-body" class="clear-both">
                    <figure class="wizerati-figure-1 clear-both">
                        <img class="wizerati-img-1" src="images/venue-2.png">
                        <figcaption>Venue classroom.</figcaption>
                    </figure>
                    <p>The Intensive JavaScript Fundamentals course is run at Bonhill House, Shoreditch, London. Students may either use their own hardware, or a laptop will be provided.</p>                    
                    <figure class="wizerati-figure-1 clear-both">
                        <a href="https://www.google.co.uk/maps/place/Bonhill+House,+1-3+Bonhill+St,+London+EC2A+4BX/@51.5225702,-0.0855003,17z/data=!3m1!4b1!4m2!3m1!1s0x48761caefea868c7:0xf10d3780c9d631e2"><img class="wizerati-img-1" src="images/map.png"></a>
                        <figcaption>Bonhill House, 1-3 Bonhill St, London EC2A 4BX</figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="no-print">@@footer</footer>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8203792-3', 'bj.ma');
    ga('send', 'pageview');


</script>

<script>
    var myApp = myApp || {};

    (function(app) {
        function MyClass() {
            if(!(this instanceof MyClass)) {
                return new MyClass();
            }

            var self = this;

            this.

            init();
        }
    }(myApp))

</script>
</body>
</html>
