<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Ben Aston</title>
    <meta name="author" content="Ben Aston">
    <style>@@css</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui">
</head>
<body>
<div id="main-container">
    <header id="header"></header>
    <main>
        <section id="wizerati" class="no-print">
            <div id="wizerati-content">
                <header id="wizerati-header">        
                    <h1>Course Syllabus</h1>                    
                </header>
                <div id="wizerati-body" class="clear-both">
                    <p>The course <strong>Intensive JavaScript Fundamentals</strong> covers the following material:</p>
                    <h2 class="day-title">Day One</h2>
                    <ol class="syllabus">                     
                        <li>
                            Introductions and Plan for the Course                            
                        </li>
                        <li>
                            Introduction to JavaScript
                            <ol class="sub-list">                            
                                <li>A Brief History</li>
                                <li>Implementations and Usage</li>
                                <li>Influences</li>
                                <li>Criticisms and Advantages</li>
                            </ol>
                        </li>
                        <li>
                            The Anatomy of a JavaScript Program
                            <ol class="sub-list">                            
                                <li>Declarations and Expressions</li>
                                <li>Variables</li>
                                <li>Functions</li>
                                <li>Semicolons</li>
                                <li>Strict Mode</li>
                                <li>Built-ins</li>
                                <li>Operators</li>
                            </ol>
                        </li>
                        <li>The this keyword and the global object
                            <ol class="sub-list">                            
                                <li>Introduction</li>
                                <li>The Global Object</li>
                                <li>Call and Apply</li>
                                <li>Bind</li>
                            </ol>
                        </li>
                        <li>
                            Scope and closures
                            <ol class="sub-list">                            
                                <li>ES3/ES5 Lexical Scoping Rules</li>
                                <li>The Lexical Scope Chain</li>
                                <li>Call and Apply</li>
                                <li>Bind and Partial Application</li>
                                <li>Monads</li>
                                <li>Closures and their uses</li>
                                <li>Execution contexts</li>
                            </ol>
                        </li>
                        <li>
                            Typing in JavaScript (Objects, Primitives, Coercion)
                            <ol class="sub-list">                            
                                <li>What are Static and Dynamic Typing?</li>
                                <li>JavaScript primitives</li>
                                <li>Objects, Functions and Methods</li>
                                <li>Coercion</li>
                            </ol>
                        </li>
                        <li>Objects</li>
                            <ol class="sub-list">                            
                                <li>Memory arrangement</li>
                                <li></li>
                                <li>Objects, Functions and Methods</li>
                                <li>Type Coercion</li>                                
                            </ol>
                        <li>
                            Functions
                            <ol class="sub-list">                            
                                <li>Functions as a First-Class Citizen</li>
                                <li>Constructor Functions</li>
                                <li>Prototypical Inheritance</li>                                
                                <li>Parameters</li>                                
                                <li>Declaring a function</li>                                
                                <li>Anonymous functions</li>                                
                                <li>Immediately invoked function expressions</li>                                
                                <li>The prototype property</li>                                
                            </ol>
                        </li>
                    </ol>
                    <h2 class="day-title">Day Two</h2>
                    <ol class="syllabus">                                             
                        <li>
                            Array
                            <ol class="sub-list">                            
                                <li>Array Constructor</li>
                                <li>Array Properties</li>
                                <li>Array Creation</li>                                
                                <li>Array Enumeration</li>
                            </ol>
                        </li>
                        <li>
                            String
                            <ol class="sub-list">                            
                                <li>String Parameters</li>
                                <li>String Properties and Methods</li>                            
                            </ol>
                        </li>
                        <li>
                            Number
                            <ol class="sub-list">                            
                                <li>Floating Point Numbers</li>
                                <li>Octal and Hexedecimal Numbers</li>                            
                                <li>Number Parameters</li>                            
                                <li>Number Properties and Methods</li>                            
                            </ol>
                        </li>
                        <li>
                            Working with Objects
                            <ol class="sub-list">                            
                                <li>Creation Patterns</li>
                                <li>The Constructor Property</li>
                                <li>Inheritance Inheritance</li>                                
                                <li>Object Properties</li>                                
                                <li>Object Literals</li>                                
                                <li>Checking if an object contains a property</li>                                
                                <li>Enhancing and Extending Objects</li>                                
                                
                            </ol>
                        </li>
                        <li>Function</li>
                        <li>Prototypical Inheritance</li>
                        <li>Array</li>
                        <li>String</li>                        
                    </ol>
                    <h2 class="day-title">Day Three</h2>
                    <ol class="syllabus">
                        <li>Common Patterns (modularisation, visibility, construction, MVC)</li>
                        <li>Object-orientation in JavaScript</li>
                        <li>Testing</li>
                        <li>Pairing Exercise (object-oriented design)</li>
                        <li>ES3, ES5 and Introduction to ES6</li>
                    </ol>                                        
                    <p><strong>If you would like to book a place or request further information, please email <a class="mail-link" href="mailto:ben@javascript.io">ben@javascript.io</a>.</strong></p>
                </div>
            </div>
        </section>
    </main>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8203792-3', 'bj.ma');
    ga('send', 'pageview');


</script>

<script>
    var myApp = myApp || {};

    (function(app) {
        function MyClass() {
            if(!(this instanceof MyClass)) {
                return new MyClass();
            }

            var self = this;

            this.

            init();
        }
    }(myApp))

</script>
</body>
</html>
